<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <style>
        .header{
        background-color:black;
        color:white;
        text-align:center;
        padding:20px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Welcome to DongTaTa Family!</h1>
        <p>点击下面的按钮，登录查看更多内容.</p>
        <button type="button" onclick="window.open('/login')">登录</button>
        <p>如果还不是本站用户，点击下面的按钮注册一下就好啦！</p>
        <button type="button" onclick="window.open('/register')">注册</button>

    </div>
</body>
</html>